/* Grupos.css */
.create-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Ampliar el ancho máximo del formulario */
}

.create-form .form-control {
    margin-bottom: 15px; /* Aumentar el espaciado entre campos */
}

.create-form .btn-success {
    align-self: center; /* Centrar el botón de creación */
}
