/* App.css */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #f8f9fa;
    /* Fondo de la página */
    padding: 20px;
}

.greeting {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    /* Color de fondo del botón */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    /* Color de fondo del botón al pasar el ratón */
}